/* add_product.html */
h5 {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: #318DD0;
    font-family: 'Inter', sans-serif;
}

.container {
    background-color: #21345A;
    height: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.container form {
    text-align: center;
}

.container form input {
    font-family: 'Inter', sans-serif
}

.container form button {
    padding: 10px;
    margin-right: 1%;
    background-color: #FB6C37;
    border: 1px solid #FB6C37;
    color: #fff;
    font-family: 'Inter', sans-serif;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

a {
    position: absolute;
    top: 66%;
    left: 46%;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    text-decoration: none;
    color: #318DD0;
}